.circular-text {
    margin: 0;
    border-radius: 50%;
    width: 70px;
    position: relative;
    height: 70px;
    font-weight: bold;
    color: #fff;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    white-space: nowrap;
}

.circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-family: var(--font-mono);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    /* The translate3d in JS handles the radius, 
     but we ensure it's centered */
}